@model IEnumerable<OnshoreSDAttendanceTrackerNet.Models.DashboardViewModel>

@{
    ViewBag.Title = "AdminDashboard";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Custom styles for this page -->
<link rel="stylesheet" type="text/css" href="~/Content/Theme/vendor/datatables/datatables.css" />

<h2 class="h2 mb-2 text-gray-800">Dashboard</h2>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">In Good Standings</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">20 Employees</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">At-Risk</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">10 Employees</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">PiP</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">PiP+</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">5 Employees</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Charts Content Row -->
<div class="row">
    <div style="width:10px;"></div>
    <!-- Area Chart -->
    <div class="card shadow mb-2 chart">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Absence Progress</h6>
        </div>
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
            <hr>
        </div>
    </div>
    <div style="width:13px;"></div>
    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4 chartBar">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Month At a Glance</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                </div>
                <hr>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Good Standings
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-warning"></i> At-Risk
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-danger"></i> PiP
                    </span>
                </div>
            </div>
            
            
        </div>
    </div>

</div>
<!-- Main Grid-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Month Highlights</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Points)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
<!--End Main Grid-->

<script type="text/javascript" src="~/Scripts/Vendor/datatables/datatables.js"></script>
<script type="text/javascript" src="~/Scripts/Vendor/chart.js/Chart.js"></script>
<script type="text/javascript" src="~/Scripts/demo/chart-area-demo.js"></script> 
<script type="text/javascript" src="~/Scripts/demo/chart-pie-demo.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
