@using OnshoreSDAttendanceTrackerNet.Models
@model OnshoreSDAttendanceTrackerNet.Models.AbsenceViewModel
@{
    ViewBag.Title = "All Absences";
}

<h2>@ViewBag.Title</h2>
@Html.HiddenFor(model => Model.Absence.AbsenceTypeID)
@Html.HiddenFor(model => Model.Absence.TeamID_FK)
@Html.HiddenFor(model => Model.Absence.TeamMgtID)
@Html.HiddenFor(model => Model.Absence.AbsentUserID)

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Team Name</th>
                <th>Absence Date</th>
                <th>Points</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AbsencePO absence in Model.ListOfAbsencePO)
            {
                <tr>
                    <td>@absence.EmployeeName</td>
                    <td>@absence.Name</td>
                    <td>@absence.AbsenceDate</td>
                    <td>@absence.Point</td>
                    <td>@absence.Comments</td>
                    @*Modal for details for an absence or section that will load based off the selected absence.*@
                    @*TODO: Add modals, graphs and other BA centric sugar*@
                </tr>
            }
        </tbody>
    </table>
</div>