@using OnshoreSDAttendanceTrackerNet.Models
@model OnshoreSDAttendanceTrackerNet.Models.AbsenceViewModel
@{
    ViewBag.Title = @ViewBag.Name + " Team Absences";
}

<h2>@ViewBag.Name</h2>

@Html.HiddenFor(model => Model.Absence.AbsenceTypeID)
@Html.HiddenFor(model => Model.Absence.TeamID_FK)
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Absence Type</th>
                <th>Point</th>
                <th>Absence Date</th>
                <th>@Model.Absence.Comments.ToString()</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AbsencePO absence in Model.ListOfPos)
            {
                <tr>
                    <td>@Model.User.FirstName @Model.User.LastName</td>
                    <td>@absence.Name</td>
                    <td>@absence.Point</td>
                    <td>@absence.AbsenceDate</td>
                    <td><a href="">Comments</a></td>
                    @*TODO: Add modal for details or section for details*@
                    @*TODO: Add modals, graphs and other BA sugar*@
                </tr>
            }
        </tbody>
    </table>
</div>