@using OnshoreSDAttendanceTrackerNet.Models
@model OnshoreSDAttendanceTrackerNet.Models.TeamViewModel
@{
    ViewBag.Title = "My Teams";
}

<h2>@ViewBag.Title</h2>

<div>
    <table class="table">
        <thead>
            <tr>
                @Html.HiddenFor(model => Model.Team.TeamID)
                <th>Team Name</th>
                <th>Comments</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TeamPO team in Model.ListOfPos)
            {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.Comment</td>
                    <td>@team.Active</td>
                    @*TODO: ??? Add Modal or view ???*@
                </tr>
            }
        </tbody>
    </table>
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Absences</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">John Doe</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Alice Rivers</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Timmy Grover</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rachel Dime</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Doris Lane</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Call-in</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">1 point</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">2019-Jul-08</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Top Standing Employee</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Jane Doe</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">.5</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Team Ranker</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Finlocker</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Sneider</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Nike</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>