@using OnshoreSDAttendanceTrackerNet.Models
@model OnshoreSDAttendanceTrackerNet.Models.AbsenceViewModel
@{
    ViewBag.Title = "All Absences";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $(".AbsenceListBox").change(function () {
                AbsenceList_Changed()
            });
                @*TODO: Add functionality for populating widget*@
            },
            function AbsenceList_Changed() {
                $("#ModelsList > option").remove();

                var absenceId = $("AbsenceListBox option:selected").val;
                alert(absenceId)
                $.post(""){
                    data = $.map(data, function (item, a) {
                        return "<option value=" + item.Value + ">" + item.Text + "</option>";
                    });
                }
            }
        });
    </script>

<h2>@ViewBag.Title</h2>
@Html.HiddenFor(model => Model.Absence.AbsenceTypeID)
@Html.HiddenFor(model => Model.Absence.TeamID_FK)
@Html.HiddenFor(model => Model.Absence.TeamMgtID)
@Html.HiddenFor(model => Model.Absence.AbsentUserID)

<div>

    <div class="row">
        @using (Html.BeginForm("DoIt", "Maint", FormMethod.Post))
        {
            <div class="col-6" style="background-color: deepskyblue">
                @* @Html.ListBox("Absence", Model.AbsenceTypes, new { @class = "AbsenceListBox"})*@
                @*TODO: Style this to look more presentable*@
                @*@Html.LabelFor(model => Model.Team.Name)
                    @Html.Label(String.Join(",",Model.AbsenceTypes))*@
            </div>
            <button type="submit">Click It!</button>
        }
        <div class="col-6" style="background-color: lightcoral">
            @*TODO:Add absence details here on click of Employee Details*@
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="background-color:lightseagreen">
            @*TODO: Best standing team data for widget*@
            @Html.LabelFor(model => Model.TopTeam.Team.Name, "Team Name: ")
            @Html.TextBoxFor(model => Model.TopTeam.Team.Name)
            <br />
            @Html.LabelFor(model => Model.TopTeam.Absence.RunningTotal)
            @Html.TextBoxFor(model => Model.TopTeam.Absence.RunningTotal)
        </div>
        <div class="col-6" style="background-color:darkkhaki">
            @*TODO: Lowest standing team data for widget*@
            @Html.LabelFor(model => Model.BottomTeam.Team.Name)
            @Html.TextBoxFor(model => Model.BottomTeam.Team.Name)
            <br />
            @Html.LabelFor(model => Model.BottomTeam.Absence.RunningTotal)
            @Html.TextBoxFor(model => Model.BottomTeam.Absence.RunningTotal)
        </div>
    </div>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Absences</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">John Doe</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Alice Rivers</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Timmy Grover</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Rachel Dime</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Doris Lane</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Call-in</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">1 point</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">2019-Jul-08</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Top Standing Employee</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Jane Doe</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">.5</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Team Ranker</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Finlocker</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Sneider</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Nike</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Team Name</th>
                <th>Absence Date</th>
                <th>Points</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AbsencePO absence in Model.ListOfPos)
            {
                <tr>
                    <td>@absence.EmployeeName</td>
                    <td>@absence.Name</td>
                    <td>@absence.AbsenceDate</td>
                    <td>@absence.Point</td>
                    <td>@absence.Comments</td>
                    @*Modal for details for an absence or section that will load based off the selected absence.*@
    @*TODO: Add modals, graphs and other BA centric sugar*@
    @*</tr>
                }

            </tbody>
        </table>*@

</div>